body{
	font-size: 16px;
	background-color: #FCFFF7;
}

article, header {
	width: 100%;
	text-align: center;
}

header{
	// height: 15%;
	text-align: center;
	vertical-align: middle;
	// line-height: 300px;  
	color: #454343; 
	padding: 5% 0;
}

header h1{
	font-family: 'Fredericka the Great', cursive;
	font-size: 6.854em;
	padding: 5% 0;
}

article {
	padding-top: 5em;
	padding-bottom: 5em;
}

h2{
	font-family: 'Rubik', sans-serif;
	font-size: 4.236em;
	font-weight: 700;
	letter-spacing: -.05em;
}

h3{
	font-size: 2.618em;
	font-weight: 700;
	font-family: 'Rubik', sans-serif;
}

summary, footer {
	width: 70%;
	margin: auto;
	display: block;
	line-height: 1.4;
}

summary {
	padding-bottom: 2em;
	font-family: 'Old Standard TT', serif;
	font-size: 2.618em;
}

summary.about{
	font-size: 1.618em;
}

footer {
	font-size: 1.32em;
}

.is-red{
	background-color: #FF5758;
	color: #333;
}

.is-blue{
	background-color: #59EFF2;
	color: #454343;
}

.is-yellow{
	background-color: #FFD24C;
	color: #333;
}

.is-green{
	background-color: #9FFF7C;
	color: #333;
}

.is-violet{
	background-color: #D691FF;
	color: #333;
}



/* css for the shiny buttons */
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 15px;
  // font-size: 1em;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  color: #333;
  border: 3px #333 solid;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  // text-transform: uppercase;
  letter-spacing: .1em;
}

.btn:hover {
	color: #D6D6D6;
	border: 3px #3A3A3A solid;
  	background-color: #3A3A3A;
}
